# Ignore virtual environment
venv/

# Ignore frontend folder
frontend/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment file
.env

# Ignore sensitive or local configuration files
database.py
auth.py

# Optional: log files
*.log

# Ignore system files
.DS_Store
Thumbs.db
